<header class="header">
  <nav class="header-nav" aria-label="Top">
    <div class="header-nav--container">
      <div class="header-nav--container_logo">
        <a href="#">
          <span class="header-nav--container_logo-sr">Currency Exchanger</span>
          <img
            class="header-nav--container_logo-img"
            src="assets/logo.svg"
            alt="Currency Exchanger"
          />
        </a>
      </div>
      <div class="header-nav--container_buttons">
        <a
          [routerLink]="['/details']"
          [queryParams]="{ from: 'EUR', to: 'USD', amount: 1 }"
          routerLinkActive="active"
          class="link"
          >EUR-USD Details</a
        >
        <a
          [routerLink]="['/details']"
          [queryParams]="{ from: 'EUR', to: 'GBP', amount: 1 }"
          routerLinkActive="active"
          class="link"
          >EUR-GPB Details</a
        >
      </div>
    </div>
  </nav>
</header>
