<div class="exchanger">
  <h1>
    {{ title }}
  </h1>
  <button class="exchanger-home" (click)="backToHome()">Back to Home</button>
</div>
<hr />
<ce-currency-converter
  (convert)="onConvert($event)"
  [isCurrencySelectDisabled]="true"
></ce-currency-converter>
<div class="chart-conatiner" *ngIf="history$ | async as history; else loading">
  <ngx-charts-bar-vertical
    [results]="history"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [rotateXAxisTicks]="true"
    [roundEdges]="true"
    [showXAxisLabel]="true"
    xAxisLabel="Months"
    [showYAxisLabel]="true"
    yAxisLabel="Rate"
    [view]="chartView"
  >
  </ngx-charts-bar-vertical>
</div>

<ng-template #loading>
  <h4>Loading...</h4>
</ng-template>
