/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../src/assets/responsive.mixin.scss";
:root {
  --primary: #264653;
  --primary-contrast: #ffffff;
  --primary-shade: #213e49;
  --primary-tint: #3c5964;

  --secondary: #2a9d8f;
  --secondary-contrast: #ffffff;
  --secondary-shade: #258a7e;
  --secondary-tint: #3fa79a;

  --tertiary: #2080e0;
  --tertiary-contrast: #ffffff;
  --tertiary-shade: #1c71c5;
  --tertiary-tint: #368de3;

  --success: #2dd36f;
  --success-contrast: #000000;
  --success-shade: #28ba62;
  --success-tint: #42d77d;

  --warning: #ffc409;
  --warning-contrast: #000000;
  --warning-shade: #e0ac08;
  --warning-tint: #ffca22;

  --danger: #eb445a;
  --danger-contrast: #ffffff;
  --danger-shade: #cf3c4f;
  --danger-tint: #ed576b;

  --medium: #f4a261;
  --medium-contrast: #000000;
  --medium-shade: #d78f55;
  --medium-tint: #f5ab71;

  --light: #f4f5f8;
  --light-contrast: #000000;
  --light-shade: #d7d8da;
  --light-tint: #f5f6f9;
}
body {
  background-color: var(--light-shade);
}
h1 {
  font-size: 2rem;
  @include screen("lg") {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1.75rem;
  @include screen("lg") {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.25rem;
  @include screen("lg") {
    font-size: 1.5rem;
  }
}
h4 {
  font-size: 1rem;
  @include screen("lg") {
    font-size: 1.25rem;
  }
}
label,
span {
  font-size: 1rem;
  line-height: 1.5rem;
}
